[Unit]
Description='monitoring' broadcast service timer

[Timer]
OnBootSec=10min
OnUnitActiveSec=10min
AccuracySec=1msec

[Install]
WantedBy=timers.target
